<script lang="ts">
  import { getContext } from 'svelte'
  import { getLocalizer } from '../module/utils.js'
  import { Readable } from 'svelte/store'

  const localize = getLocalizer()

  type dType = 'number' | 'text'

  export let value
  export let type: dType = 'number'
  export let editable = false

  const isEditMode = getContext<Readable<boolean>>('isEditMode')
</script>

{#if editable || $isEditMode}
  {#if type == 'number'}
    <input type="number" bind:value placeholder={localize('value')} />
  {:else}
    <input type="text" bind:value placeholder={localize('value')} />
  {/if}
{:else}
  {value !== null ? value : '-'}
{/if}
