<script lang="ts">
  // import Select from 'svelte-select'

  interface Item {
    label: string
    value: string
    group?: string
  }
  export var items: Item[]
  export var value: string | undefined
  // export var groupBy: string | undefined = undefined

  $: groups = [...new Set(items.map((item) => item.group))].filter(
    (group) => group !== undefined
  )
  $: groupedItems = new Map(
    groups.map((group) => [group, items.filter((item) => item.group === group)])
  )
  $: ungroupedItems = items.filter((item) => !groups.includes(item.group))
</script>

<div class="select-theme">
  <!-- <Select {items} bind:justValue /> -->
  <select bind:value aria-label="select" class="svelte-select">
    {#each ungroupedItems as item}
      <option value={item.value}>{item.label}</option>
    {/each}
    {#each groups as group}
      <option disabled>{group}</option>
      {#each groupedItems.get(group) || [] as item}
        <option value={item.value}>{item.label}</option>
      {/each}
    {/each}
  </select>
</div>

<!-- <style>
  .select-theme {
    --borderRadius: 10px;
    --height: 30px;
    --padding: 5px;
  }
</style> -->
