<script lang="ts">
  import { getLocalizer } from '../../../module/utils.js'
  import Spell from './Spell.svelte'

  import { getContext } from 'svelte'
  import { CharacterDataAccessor } from '../../../module/model/character.js'
  import { Writable } from 'svelte/store'
  import { hasName } from '../../../module/model/utils.js'

  const localize = getLocalizer()

  let doc = getContext<Writable<CharacterDataAccessor>>('doc')

  $: spells = $doc.spells
  $: sortedSpells = spells
    .filter(hasName)
    .sort((a, b) => a.name.localeCompare(b.name))
</script>

<div class="spells">
  <div class="head">
    <div class="spell-label">{localize('name')}</div>
    <div class="spell-attributes">
      <div>{localize('astralCost')}</div>
      <div>ZfW</div>
    </div>
  </div>
  {#each sortedSpells as spell}
    <div class="spell">
      <Spell bind:spell />
    </div>
  {/each}
</div>

<style>
  .head {
    font-weight: bold;
    font-size: medium;
    margin-top: 20px;
    display: flex;
  }

  .spell-attributes {
    display: flex;
    justify-content: space-between;
    width: 34%;
  }

  .spell-label {
    width: 66%;
  }

  .spell:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
  }
</style>
