<script lang="ts">
  import SkillRoll from './SkillRoll.svelte'
  import type { BaseCharacter } from '../../module/model/character.js'
  import type { ModifierDescriptor } from '../../module/model/modifier.js'
  import type { Liturgy } from '../../module/model/properties.js'
  import { liturgyDegrees } from '../../module/model/properties.js'

  export var localize: (_key: string) => string
  export var skill: Liturgy
  export var character: BaseCharacter

  export var callback: (
    modifiers: Map<string, ModifierDescriptor>,
    options?: Record<string, unknown>
  ) => void
  export var modifiers = new Map<string, ModifierDescriptor>()

  let selectedDegree = skill.degree

  $: degreeModifier = character?.degreeModifier(selectedDegree)

  $: {
    modifiers.set('degreeModifier', {
      name: 'degreeModifier',
      mod: degreeModifier,
      modifierType: 'other',
    })
    modifiers = modifiers
  }
</script>

<SkillRoll bind:modifiers {callback} {localize} {skill}>
  <div slot="skill-options">
    {localize('degree')}
    <select bind:value={selectedDegree} data-testid="test-degree">
      {#each liturgyDegrees as degree}
        <option value={degree}>{degree}</option>
      {/each}
    </select>
  </div>
</SkillRoll>

<style>
</style>
