<script lang="ts">
  import { getContext } from 'svelte'
  import { Writable } from 'svelte/store'

  import Resource from './Resource.svelte'
  import Dialog from '../Dialog.svelte'

  import type {
    ResourceListData,
    ResourceName,
  } from '../../module/model/character-data.js'
  import { getLocalizer } from '../../module/utils.js'
  import { CharacterDataAccessor } from '../../module/model/character.js'
  import ApplyDamage from '../apply-damage/ApplyDamage.svelte'
  import { Character } from '../../module/character/character.js'

  export let resources: ResourceListData<ResourceName>
  let doc = getContext<Writable<CharacterDataAccessor>>('doc')

  $: availableResources = [
    'vitality',
    'endurance',
    ...($doc.system.settings.hasKarmicEnergy ? ['karmicEnergy'] : []),
    ...($doc.system.settings.hasAstralEnergy ? ['astralEnergy'] : []),
  ]
  const localize = getLocalizer()

  let applyDamageDialog: Dialog
  const character = new Character($doc)
</script>

<Dialog
  bind:this={applyDamageDialog}
  title={localize('applyDamage')}
  dialogComponent={ApplyDamage}
  {character}
  buttonLabel={localize('applyDamage')}
/>

<div class="container">
  <!-- svelte-ignore a11y-no-static-element-interactions a11y-missing-attribute -->
  <a
    on:click={applyDamageDialog.open}
    on:keydown={applyDamageDialog.open}
    data-testid="open-apply-damage-dialog"
    title={localize('applyDamage')}
  >
    <i class="fas fa-heart-circle-minus" /></a
  >

  {#each availableResources as resourceName}
    <fieldset>
      <legend data-testid="label">{localize(resourceName)}</legend>
      <Resource bind:resource={resources[resourceName]} />
    </fieldset>
  {/each}
</div>

<style>
  .container a {
    font-size: 32px;
  }

  .container {
    width: fit-content;
    text-align: center;
  }
</style>
