<script lang="ts">
  import type {
    GeneralNamedAttribute,
    Rollable,
  } from '../../module/model/properties.js'
  import { getLocalizer } from '../../module/utils.js'
  import Input from '../Input.svelte'

  import Dialog from '../Dialog.svelte'
  import Roll from '../roll-dialog/Roll.svelte'

  const localize = getLocalizer()

  export let attribute: Rollable<GeneralNamedAttribute>
  export let value: number | undefined = undefined
  export let isLocalized = false

  import { getContext } from 'svelte'
  import { Readable } from 'svelte/store'

  const isEditMode = getContext<Readable<boolean>>('isEditMode')
  function roll(modifiers) {
    attribute.roll({ mod: modifiers.get('custom').mod })
  }

  let attributeRollDialog
</script>

<Dialog
  bind:this={attributeRollDialog}
  title={localize('attributeRoll')}
  dialogComponent={Roll}
  callback={roll}
/>

<div class="attribute">
  <div class="attribute-label">
    <!-- svelte-ignore a11y-no-static-element-interactions a11y-missing-attribute -->
    <a
      on:click={$isEditMode ? undefined : attributeRollDialog.open}
      on:keydown={$isEditMode ? undefined : attributeRollDialog.open}
      title={localize('roll')}
      data-testid="attribute-roll"
      ><div class="valcontainer" data-testid="attribute-value">
        <i class="fas fa-dice-d20" class:editMode={$isEditMode} />
        <div class="val">
          <Input bind:value />
        </div>
      </div>
      <div class="attribute-name" data-testid="attribute-name">
        {isLocalized ? attribute.name : localize(attribute.name)}
      </div>
    </a>
  </div>
</div>

<style>
  i {
    position: absolute;
    font-size: 32px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  i.editMode {
    opacity: 20%;
  }
  div.val {
    position: absolute;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    color: white;
    text-shadow:
      0 0 6px black,
      0 0 6px black,
      0 0 6px black,
      0 0 6px black;
    font-size: medium;
    font-weight: bold;
    left: 50%;
    transform: translate(-50%, 0);
  }

  div.valcontainer {
    position: relative;
    height: 32px;
  }

  div.attribute-name {
    text-align: center;
  }
</style>
