<script lang="ts">

  import { getContext } from 'svelte'

    export let callback
    export let modifiers
    export let options

    
    
    function submit() {
        callback(modifiers, options)
    }

    const mockRoll = getContext('mock')
    $mockRoll.submit = submit
  </script>
  
  <div>
    <slot name="options" />
    <div>
      {#each modifiers.values() as modifier}
        {#if modifier.name != 'custom' && modifier.mod != 0}
          <slot name="modifier" {modifier} />
        {/if}
      {/each}
    </div>
    <slot name="options-bottom" />
  </div>
  