<script lang="ts">
  import { ManagedPromise } from '@typhonjs-fvtt/runtime/util/async'
  import { getContext } from 'svelte'
  import { BaseCharacter } from '../../module/model/character.js'

  export var localize: (key: string) => string = () => ''
  export var character: BaseCharacter

  export let hitPoints = 0

  $: damageConsequences = character.determineDamage(hitPoints)

  const managedPromise = getContext<ManagedPromise>('#managedPromise')
  managedPromise
    .get()
    .then(
      (result) => result === true && character.takeDamage(damageConsequences)
    )
</script>

<div style="font-size: large">
  <div>
    {localize('hitPoints')}
    <input type="number" bind:value={hitPoints} data-testid="hitpoint-input" />
  </div>

  <p style=" font-size: x-large;" data-testid="damage-to-take">
    {localize('damage')}: {damageConsequences.damage}
  </p>

  <p style=" font-size: x-large;" data-testid="wounds-to-take">
    {localize('wounds')}: {damageConsequences.wounds}
  </p>
</div>
