  <form class="{{cssClass}}" autocomplete="off">
  {{!-- Item Sheet Header --}}
  <header class="weapon sheet-header flexrow" data-item-id="{{item.id}}">
    <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img" />

    <div class="header-details flexrow">
      <h1 class="charname">
        <input name="name" type="text" value="{{data.name}}" placeholder="{{ localize 'DSA.Name' }}" />
      </h1>
      <div class="item-controls">
        <a class="item-control item-delete" title="{{localize 'DSA.Del'}}"><i
          class="fas fa-trash fa-2x"></i></a>
      </div>

    </div>
  </header>

  <div class="attribute" data-attribute="value">
    <div class="attribute-label">{{localize 'DSA.source'}}</div>
    <select name="system.sourceId" class="modificator-selection">
      {{#select data.system.sourceId}}
      {{#each sources as |source|}}
      <option value="{{source._id}}">{{source.name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="attribute" data-attribute="value">
    <div class="attribute-label">{{localize 'DSA.instruction'}}</div>
    <select name="system.instructionId" class="modificator-selection">
      {{#select data.system.instructionId}}
      {{#each instructions as |instruction|}}
      <option value="{{instruction._id}}">{{instruction.name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  <div class="attribute" data-attribute="value">
    <div class="attribute-label">{{localize 'DSA.description'}}</div>
    <textarea name="system.description" data-dtype="String">{{data.system.description}}</textarea>
  </div>

  <div class="attribute" data-attribute="value">
    <div class="attribute-label">{{localize 'DSA.asp'}}</div>
    <input type="number" name="system.asp" value="{{data.system.asp}}"></input>
    <div class="attribute-label">{{localize 'DSA.pasp'}}</div>
    <input type="number" name="system.pasp" value="{{data.system.pasp}}"></input>
  </div>

  <div class="attribute" data-attribute="value">
    <div class="attribute-label">{{localize 'DSA.formulaQuality'}}: {{data.system.quality}}</div>
    <input name="system.quality" class="quality-input" type="range" min="0" max="7" step="1.0" value="{{data.system.quality}}">
  </div>

  <h3>{{localize 'DSA.formulaParameterModifier'}} ({{localize 'DSA.modificator'}}: {{getTotalFormulaModifiers data.system.parameters}})</h3>
  {{#each parameterClasses as |parameterClass|}}
  <div class="attribute" data-attribute="value">
    <div class="attribute-label">{{localize (concat 'DSA.formula-' parameterClass)}}</div>
    <div class="flexrow">
      <select name="system.parameters.{{parameterClass}}" class="modificator-selection">
        {{#select (lookup ../data.system.parameters parameterClass)}}
        {{#each (lookup ../parameters parameterClass) as |value|}}
        {{#if (isValidFormulaParameter ../../instructions ../../data.system.instructionId parameterClass value)}}
        <option value="{{.}}">
          {{#if (isStructureCategory parameterClass)}}
          {{getFormulaStructureLabelByInstruction ../../instructions ../../data.system.instructionId value}}
          {{else}}
          {{localize (concat 'DSA.formula-' parameterClass '-' value)}}
          {{/if}}
        </option>
        {{/if}}
        {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
  {{/each}}
</form></title>
</head>
<body>

</body>
</html>