<form class='{{cssClass}}' autocomplete='off'>
  {{! Item Sheet Header }}
  <header class='spell-variant sheet-header flexrow' data-item-id='{{item.id}}'>
    <img
      class='profile'
      src='{{item.img}}'
      title='{{item.name}}'
      data-edit='img'
    />

    <div class='header-details flexrow'>
      <h1 class='charname'>
        <input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='{{localize "DSA.Name"}}'
        />
      </h1>
      <div class='item-controls'>
        <a class='item-control item-delete' title='{{localize "DSA.Del"}}'><i
            class='fas fa-trash fa-2x'
          ></i></a>
      </div>

    </div>
  </header>

  <div class='flexrow spell-variant-attributes-list'>
    <div class='attribute' data-attribute='modificator'>
      <div class='attribute-label'>{{localize (concat 'DSA.modificator')}}</div>
      <div class='flexrow'>
        <input
          name='system.modificator'
          type='number'
          data-dtype='Number'
          value='{{data.system.modificator}}'
          placeholder='{{localize "DSA.modificator"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='minimalValue'>
      <div class='attribute-label'>{{localize
          (concat 'DSA.minimalValue')
        }}</div>
      <div class='flexrow'>
        <input
          name='system.minimalValue'
          type='number'
          data-dtype='Number'
          value='{{data.system.minimalValue}}'
          placeholder='{{localize "DSA.minimalValue"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='astralCost'>
      <div class='attribute-label'>{{localize (concat 'DSA.astralCost')}}</div>
      <div class='flexrow'>
        <input
          name='system.astralCost'
          type='number'
          data-dtype='Number'
          value='{{data.system.astralCost}}'
          placeholder='{{localize "DSA.astralCost"}}'
        />
      </div>
    </div>
    <div class='attribute' data-attribute='description'>
      <div class='attribute-label'>{{localize (concat 'DSA.description')}}</div>
      <div class='flexrow'>
        <textarea
          name='system.description'
          data-dtype='String'
        >{{data.system.description}}</textarea>
      </div>
    </div>

  </div>

</form>